.permalink{
    font-size: 1rem;
    float: right;
}

.docs-nav .nav-item .nav-link:hover {
    color: #28b76b;
}

figcaption{
    text-align: center;
    font-size: 0.9rem;
}

.docs-code-block{
    padding-top: 0 !important;
}